<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name='splunk' type='HTTP' URL='https://us-splunk-hec.1dc.com/services/collector/event'
            Authorization='Splunk 1c8c9650-8c63-49f1-9968-edb95acc8773' BatchSize='50'>
      <layout type='JsonLayout'>
        <attribute name='time' layout='${unixtime}${sequenceid}' />
        <attribute name='host' layout='${machinename}' />
        <attribute name='source' layout='Paypoint_Logger_DEV' />
        <attribute name='sourcetype' layout='paypoint_logs:hec' />
        <attribute name='index' layout='application_na' />
        <attribute name='event' encode='false'>
          <layout type='JsonLayout'>            
            <attribute name='appl' layout='EPay' />
            <attribute name='msgsource' layout='${exception:format=StackTrace}' />
            <attribute name='msgtype' layout='EPayDP [Echo]' />
            <attribute name='priority' layout='${level:format=Ordinal}' />
            <attribute name='interactionid' layout='${activityid}' />
            <attribute name='seq' layout='${sequenceid}' />
            <attribute name='threadid' layout='${threadid}' />
            <attribute name='message' layout='${exception:format=Message}' />
            <attribute name='instance' layout='Echo' />
            <attribute name='level' layout='${level:upperCase=true}' />
            <attribute name='source' layout='${logger}' />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets> <rules>
    <logger name="*" minlevel="Debug" writeTo="splunk" />
  </rules>
</nlog>